<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
 <%=render partial: 'navigation/nav'%>

 <main class="mdl-layout__content">
 <div class="mdl-grid" >
   <h4 class="mdc-typography--headline4"><i class="material-icons">
    shopping_cart
    </i> Shopping Cart</h4>

 </div>



<% if @features.count != 0 %>
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col">Feature</div>
    <div class="mdl-cell mdl-cell--3-col">Quantity</div>
    <div class="mdl-cell mdl-cell--1-col">Price</div>
    <div class="mdl-cell mdl-cell--2-col">Total</div>
     <div class="mdl-cell mdl-cell--1-col">View</div>

    <div class="mdl-cell mdl-cell--1-col">Remove</div>
</div>
<ol>


<% @features.each do |feature|%>
<li>
<%# <form method="POST" action="/remove_from_cart" > %>
  <div class="mdl-grid" style=" line-height: 30px; vertical-align: middle;">
      <div class="mdl-cell mdl-cell--4-col"><%=feature.name%></div>
      <div class="mdl-cell mdl-cell--3-col">
        <div class="mdl-grid" style="margin: 0px auto;" >
            <%=button_to "+", { action: "add_quantity", id:feature.id, quantity:@cart["#{feature.id}"] },
                                  method: :post, class: "button_add"%>
            <input class="mdl-textfield__input" type="number"  readonly min=1 name="quality" value=<%=@cart["#{feature.id}"]%>  style="width:20%; text-align: center; ">
            <input  type="hidden" name="id" value=<%=feature.id%>>
            <%if @cart["#{feature.id}"].to_i > 1%>
              <%=button_to "-", { action: "subtract_quantity", id:feature.id, quantity:@cart["#{feature.id}"] },
                                    method: :post, class: "button_subtract"%>
            <%end%>
        </div>
      </div>
      <div class="mdl-cell mdl-cell--1-col">$<%=feature.price%></div>
      <div class="mdl-cell mdl-cell--2-col">$<%=feature.price.to_f * @cart["#{feature.id}"].to_f %></div>

      <div class="mdl-cell mdl-cell--1-col"><a href="/feature/<%=feature.id%>" style="color:blue"><i class="material-icons">remove_red_eye</i></a></div>
      <div class="mdl-cell mdl-cell--1-col">
        <%# <button type="submit" ><i class="material-icons">delete_forever</i></button>
         %>
           <%=button_to "x", { action: "remove_from_cart", id:feature.id, },
                                method: :post, data: { confirm: "Are you sure to remove?" }, class: "button_delete"%>
        </div>
  </div>
<%# </form> %>
<br/>
</li>
<% end %>
</ol>

<a href="/check_out/index" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" style="margin-left: 30px;">
  Process To Checkout <i class="material-icons">
    arrow_forward
</i>
</a>
<%else %>
  <p style="padding-left: 50px;">The cart is empty!</p>




<%end%>

 <div class="mdl-grid" style="padding-left: 50px;">
    <% if flash[:success] %>
      <div style="color: green"><%= flash[:success] %></div>
    <% end %>
</div>



 </main>

 </div>