<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    <%=render partial: 'navigation/nav'%>
  <main class="mdl-layout__content">
    <div class="page-content">
        <div class="mdl-grid portfolio-max-width">

                <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Contact Us</h2>
                    </div>
                    <div class="mdl-card__media mdl-cell--12-col">

                        <%# <img class="article-image" width=100% src="/assets/images/bluethroat-or-luscinia-svecica-M9ALYUK.jpg" border="0" alt=""> %>
                    </div>

                    <div class="mdl-grid portfolio-copy">
                    <%@contacts.each do |contact|%>
                        <div class="mdl-cell mdl-cell--3-col"></div>
                        <div class="mdl-typography--text-center mdl-cell--6-col ">
                            <h4 class="mdl-typography--text-center "><%=contact.header%></h4>
                        </div>
                        <div class="mdl-cell mdl-cell--3-col"></div>
                        <div class="mdl-cell mdl-cell--1-col"></div>
                        <div class="mdl-typography--text-center mdl-cell--10-col ">
                              <p class="mdl-typography--text-center mdl-typography "><%=contact.content%></p>
                          </div>
                          <div class="mdl-cell mdl-cell--1-col"></div>
                        <div class="mdl-cell mdl-cell--4-col">
                          <p class="mdl-card__supporting-text"><span>Address:</span> <%=contact.address%></p>
                        </div>
                        <div class="mdl-cell mdl-cell--4-col">
                          <p class="mdl-card__supporting-text"><span>Email:</span> <%=contact.email%></p>
                        </div>
                        <div class="mdl-cell mdl-cell--4-col">
                          <p class="mdl-card__supporting-text"><span>Phone:</span> <%=contact.phone%></p>
                        </div>
                      <%end%>
                        <div class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding ">
                           <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8641.214109052438!2d-97.21277806970471!3d49.916667862484374!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf38b24d7aabfd1db!2sRed%20River%20College!5e0!3m2!1sen!2sca!4v1572558957546!5m2!1sen!2sca"  height="450" style="border:0; width: 100%" allowfullscreen=""></iframe>
                        </div>

                    </div>
                </div>


            </div>

    </div>
  </main>
</div>

