<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
 <%=render partial: 'navigation/nav'%>

 <div class="mdl-grid" >
  <div class="mdl-cell mdl-cell--12-col">

        <h2>Sign up</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:multipart => true}) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>


    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <%= f.text_field :email, autofocus: true, autocomplete: "email", class:"mdl-textfield__input", required: true  %>
          <%= f.label :email, class:"mdl-textfield__label" %>
      </div>
      <br/>


      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <%= f.text_field :name,  autocomplete: "name", class:"mdl-textfield__input", required: true  %>
          <%= f.label :name, class:"mdl-textfield__label" %>
      </div>
      <br/>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
       <%= f.label :avatar do %> <%= f.file_field :avatar %> <%= f.hidden_field :avatar_cache %> <% end %>

    </div>

    <br/>



      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <%= f.password_field :password, autocomplete: "new-password", class:"mdl-textfield__input" , required: true %>
          <%= f.label :password, class:"mdl-textfield__label" %>
          <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
      </div>
      <br/>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"mdl-textfield__input", required: true  %>
          <%= f.label :password_confirmation, class:"mdl-textfield__label" %>
      </div>
      <br/>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <%= f.text_field :address, class:"mdl-textfield__input", required: true %>
            <%= f.label :address, class:"mdl-textfield__label"%>
        </div>
        <br/>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
         <label for="province_province_id"> Province </label>
         <div class="select-style">
          <%= collection_select :user, :province_id, Province.all, :id, :name%>
          </div>
        </div>
        <br/>

        <div class="actions">
          <%= f.submit "Sign up", class:"mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"%>
        </div>
        <br/>
            <%= link_to "Log in", new_session_path(resource_name) %><br />

        <% end %>


    </div>
  </div>
</div>

<style>
.select-style {
    border: 1px solid #ccc;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa url("img/icon-select.png") no-repeat 90% 50%;
}

.select-style select {
    padding: 5px 8px;
    width: 100%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}
</style>